.body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.header {
  margin: 0 auto;
  width: 75.6%;
  padding-top: 60px;
}

.main {
  margin: 0 auto;
  width: 75.6%;
}

.header__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-family: 'Playfair Display', Times, serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  text-align: center;
}

.header__link {
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}

.header__item {
  margin: 0 auto;
  padding: 0 1%;
}

.header__link:hover{
  font-weight: 900;
}

.header__link:active,
.header__link:focus {
  font-weight: 900;
  opacity: 0.4;
}

.header__navigation {
  margin: 0 auto 47px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 85.2%;
  list-style: none;
}

.banner {
  background-image: url(../img/hotel_under_water.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-align: center;
  padding-top: 133px;
  padding-bottom: 45px;
  position: relative;
}

.banner__title {
  margin: 0;
  margin-bottom: 133px;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
}

.banner::before {
  content: '';
  background-image: url(../img/icon_banner.svg);
  width: 55px;
  height: 55px;
  position: absolute;
  top: 46px;
  left: calc(50% - 28px);
}

.banner__text {
  font-size: 14px;
  line-height: 23px;
  width: 456px;
  margin: 0 auto;
}

.reviews {
  padding-top: 44px;
  padding-bottom: 39px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}


.reviews__item {
  margin: 0 auto 15px;
  padding: 0;
  width: 370px;
}

.reviews__list {
  padding: 0;
  margin: 0 auto ;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81.2%;
}

.reviews__link{
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.reviews__item:hover{
  transform: scale(1.05);
}

.reviews__img {
  width: 100%;
  margin-bottom: 16px;
}

.reviews__caption {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Playfair Display', Times, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
}

.reviews__caption-orange {
  color: #FF7931;
}

.reviews__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.subscription {
  background-color: #F7F7F7;
  background-image: radial-gradient(circle closest-corner at 50% 50%, #fff 46%, transparent 0%);
  padding-top: 33px;
  padding-bottom: 36px;
  margin-bottom: 50px;
}

.subscription__title {
  margin: 0;
  /* для ПП */
  margin-left: -7px;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.subscription__caption {
  margin: 0;
  margin-bottom: 9px;
  font-family: 'Playfair Display', Times, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
}

.subscription__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  width: 370px;
}

.subscription__list {
  padding: 0;
  margin: 0 auto 49px;
  list-style: none;
  
}

.subscription__item {
  margin: 0;
  margin-bottom: 45px;
  position: relative;
}

.subscription__item:nth-child(even)::after {
  display: block;
  content: '';
  width: 100px;
  height: 2px;
  position: absolute;
  top: 105px;
  left: calc(50% - 50px);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}
.subscription__item:nth-child(even)::before {
  display: block;
  content: '';
  width: 100px;
  height: 2px;
  position: absolute;
  top: -25px;
  left: calc(50% - 50px);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}

.subscription_btn {
  margin: 0 calc(50% - 86px);
  padding: 17px 61px 16px 30px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FF7931;
  background-image: url(../img/icon_arrow.svg);
  background-repeat: no-repeat;
  background-position: 117px center;
  border: none;
  outline: none;
}

.subscription_btn:hover {
  transform: scale(1.1);
}


.subscription_btn:focus {
  opacity: 0.6;
}

.footer {
  background: #575757;
  margin: 0 auto;
  width: 75.6%;
  padding-top: 26px;
  padding-bottom: 47px;
  position: relative;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Playfair Display', Times, serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 1px;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.footer__link:hover{
  font-weight: 900;
}

.footer__link:active,
.footer__link:focus {
  font-weight: 900;
  opacity: 0.4;
}

.footer__item {
  margin: 0 auto;
  padding: 0 1%;
}

.footer__navigation {
  box-sizing: border-box;
  margin: 0 auto 41px;
  padding: 0;
  padding-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 85.2%;
  list-style: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);  
}


.footer__social {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 169px;
  list-style: none;
}

.footer__social-link {
  display: block;
  box-sizing: border-box;
  width: 47px;
  height: 47px;
  background-color: #fff;
}

.footer__social-link:hover{
  opacity: 0.4;
}

.footer__social-link:active,
.footer__social-link:focus{
  opacity: 0.6;
}

.footer__icon-TW {
  margin-top: 15px;
  margin-left: 12px;
}

.footer__icon-FB {
  margin-top: 13px;
  margin-left: 17px;
}

.footer__icon-IG {
  margin-top: 12px;
  margin-left: 12px;
}